main {
  margin: 0 auto;
  text-align: center;
}

.day {
  padding: 1.6rem 0 2rem;
  width: 12.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  /* clickable */
  cursor: pointer;
}

.day img {
  font-size: 5.2rem;
}
