main {
  border: 1px solid black;
  text-align: center;
}

input {
  margin: 2px;
}

.input-error {
  border: 1px solid red;
}

.btn {
  margin: 1rem;
  border: 1px solid pink;
  border-radius: 3px;
}
